/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

input {
  width: 100%;
}

.mRow {
  margin: 10px 5px;
  padding: 5px;
}

.mButton {
  min-width: 80px;
}
